body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.blue-footer {
    background-color: #070d14;
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    display: flex;
    background-color: rgb(32, 32, 109);
}

.contact-info, .location, .bank-details {
    flex: 1;
    text-align: center;
}

.contact-info p, .location p, .bank-details p {
    margin: 5px 0;
}

h3 {
    font-size: 1.2em;
}
contact  a,location a{
display:inline;
}
